.nav-link,
.checked {
  color: #2f6dba;
}

.profile.rounded-circle,
.card-img-top {
  object-fit: cover;
}

h1 {
  color: #2f6dba;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* From login template */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
