.nav-link,
.checked {
  color: #2f6dba;
}

.profile.rounded-circle,
.card-img-top {
  object-fit: cover;
}

h1{
  color: #2f6dba;
  padding-top: 25px;
  padding-bottom: 25px;
}

h5{
  color: #2f6dba;
}

/* all the blue buttons */
.btn.btn-primary.btn-lg{ 
  background-color: white;
  color: #2f6dba;
}

.btn.btn-primary.btn-lg:hover{
  background-color: #2f6dba;
  color: white;
}

/*Cards with resturaunt info*/
.card.h-100.text-center:hover{
  transform: scale(1.05);
}

#loginButton, #registerLink{
  display: flex;
  justify-content: center;
  align-items:center;
}

.h-custom {
  height: calc(100% - 73px);
}

.form-label{
  color: #2f6dba;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
